<div class="homepage">
	
	<div class = "jumbotron">
	<h1> To-Do List Application </h1>
	</div>

<table class = "table">
	<thead>
	<th> List Name </th>
	<th> Last Update </th>
	<th> Edit List </th>
	<th> Destroy List </th>
	</thead>

	<tbody>
		<% @list.each do|list| %> 
			<tr>
				<td>
				<%= link_to list.list_name, list_path(list) %> 
				</td>

				<td>
				Updated at <%= list.updated_at.strftime("%d %b %Y, %T") %>
				</td>
	
				<td> 
                <%= link_to edit_list_path(list), class: 'btn btn-success btn-xs' do%>
                <i class = "glyphicon glyphicon-pencil"></i> 
                <%end%>
				</td>
	
				<td>
				<%= link_to list_path(list), 
				method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do%>
                <i class = "glyphicon glyphicon-remove"></i> 
                <%end%>
				</td>
			</tr>
		<% end %> 
	</tbody>
</table>

	<div>
	<%= button_to "Create New List", new_list_path, :method => "get" %>
	</div>

</div>