<div class="homepage">
	
	<div class = "jumbotron">
	<h1> To-Do List Application </h1>
	</div>

<table class = "table">
	<thead>
	<th> List Name </th>
	<th> Updated At </th>
	<th> Edit List </th>
	<th> Destroy List </th>
	</thead>

	<tbody>
		<% @list.each do|list| %> 
			<tr>
				<td>
				<%= link_to list.list_name, list_path(list) %> 
				</td>
	
				<td>
				<%= list.updated_at.strftime("%d %b %Y, %T") %> 
				</td>
	
				<td> 
	 			<%= link_to "Edit", edit_list_path(list) %>
				</td>
	
				<td>
				<%= link_to 'Destroy', list_path(list), 
				method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %> 
	</tbody>
</table>

	<div>
	<%= button_to "Create New List", new_list_path, :method => "get" %>
	</div>

</div>