<div class = "jumbotron task_list_header">
<h1><%= @list.list_name %></h1>
<%= link_to "Edit List Name", edit_list_path(list_id: @list.id) %>
</div>

<div class = "col-md-7 task_list">
	<h3>Your Tasks</h3>
		<table class = "table">
			<thead>
			<div class = "table_head">
				<th> Task name </th>
				<th> Due </th>
				<th> Status </th>
			</div>
			</thead>

			<tbody>
				<% @list.tasks.each do |task| %>
				<tr>
					<td>
					<%= link_to task.name, list_task_path(list_id: @list.id, id: task) %> 
					</td>
					<td>
					<% if task.due_date && task.due_date < DateTime.now %>
  				 	<span class="label label-danger">Overdue</span>
  				 	<%else task.due_date && task.due_date > DateTime.now %>
  				 	Due in <%=distance_of_time_in_words(DateTime.now, task.due_date)%> 
					<% end %>
					</td>
					<td>
					<%= task.status %>
					</td>

				</tr>
				<% end %>
			</tbody>
		</table>
</div>


<div class = "col-md-1">
</div>
	
	<div class = "col-md-4">
	<%= form_for @task, url: list_tasks_path(list_id: @list.id), method: :post do |f| %>
						<h3>Create new tasks</h3>
						<div class = "row">
			  			<%= f.label :name %>
			  			</div>

					  	<div class = "row">
					 	<%= f.text_field :name %>
						</div>

					 	<p>
					 	<div class = "row">
						<%= f.label :priority %>
						</div>
						<div class = "row">
						<%= f.radio_button :priority, 'Low' %> Low 
						<%= f.radio_button :priority, 'Medium' %> Medium 
						<%= f.radio_button :priority, 'High' %> High 
						</div>
						</p>

					 	<p>
					 	<div class = "row">
						<%= f.label :status %>
						</div>
						<div class = "row">
						<%= f.radio_button :status, 'In_progress' %> In Progress 
						<%= f.radio_button :status, 'Completed' %> Completed 
						</div>
						</p>

					 	<div class = "row">
						<%= f.label :due_date %>
						</div>

						<div class = "row">
					 	<%= f.text_field :due_date %>
					 	</div>

					

					 	<br>
					 	</br>

						<div class = "row">
					  	<%= f.submit "Create" %>
						</div>
	<% end %> 	


</div>